<head>

</head>

<body>
    <h1>Enter Your Email to Subscribe</h1>
<!--an input and a button, consider using a form and an action-->
<form>
    <form action="/app.js"></form>
        <label for="fullName"> Full Name:</label>
        <input type="text" id="fullName"> <br>
        <label for="Email"> Email:</label>
        <input type="email" id="email"> <br>
        <input type="submit" id=submit>
</form>

</body>
